section {
  max-width: $max-width;
  margin: 0 auto;
  &:first-child {
    padding-top: 103px; /* sticky nav's heights */
  }
  .nyt-row {
    display: flex;
    align-items: center;
    align-content: stretch;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid $border-color;
    figcaption {
      padding-top: 0.5rem;
      font-size: 14px;
      text-align: right;
      color: $caption-color;
      text-transform: uppercase;
    }
    h3 {
      font-size: 18px;
      padding: 0.5rem 0;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding-bottom: 0.5rem;
    }
    span {
      font-size: 12px;
      color: $caption-color;
    }
    div {
      align-self: stretch;
      box-sizing: border-box;
      padding: 0 2%;      
      border-right: 1px solid $border-color;
      overflow: hidden;
      &:last-child {
        border-right: 0;
      }
      &.nyt-col-1 {
        width: 25%;
      }
      &.nyt-col-2 {
        width: 50%;
      }
      &.nyt-image {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        padding: 0;
      }
      img {
        width: 100%;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}