header {
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 99;
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      padding: 5px 20px;
      cursor: pointer;
      &.selected {
       cursor: default; 
      }
      transition: all ease-in-out .3s;
      &:hover {
        background: black;
        color: white;
      }
      &.selected {
        background-color: $primary-color;
      }
    }
  }
  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  border-bottom: 1px solid $border-color;
}