/* simply resets browser's defulat styles */
body {
  margin: 0;
}
h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

@import './variables/variables.scss'; // variables to store information that we want to reuse
@import './mixin/mixin.scss'; // mixin to make groups of css declarations
// @import './components/header.scss'; // main component [header]
// @import './components/grid.scss'; // main component [grid]
// @import './components/responsive.scss'; // main component [responsive version handler]

@import './components/main.scss'; // main component